@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 2em;
    color: whitesmoke;
    text-decoration: underline;
}

#container {
    width: 70em;
    height: 22em;
    background-color: rgba(230, 230, 230, 0.6);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px) {
    #container {
        top: 50%;
        width: 60em;
        height: 30em;
    }
}

@media (max-width: 992px) {
    #container {
        top: 50%;
        width: 50em;
        height: 33em;
    }
}

@media (max-width: 768px) {
    #container {
        top: 50%;
        width: 80%;
        /* Increased size for smaller screens */
        height: auto;
        margin-left: 5%;
        /* Further reduced margin from left */
    }

    #container p {
        margin-top: 1em;
        padding: 1em;
    }

    #container button {
        width: 80%;
        margin-top: 1em;
        font-size: 1.2em;
    }
}

@media (max-width: 600px) {
    #container {
        width: 90%;
        height: auto;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: 2%;
        /* Further reduced margin from left */
    }

    #container p {
        margin-top: 1em;
        padding: 1em;
    }

    #container button {
        width: 80%;
        margin-top: 1em;
        font-size: 1.2em;
    }
}

#container p {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

#container button {
    width: 50%;
    height: 3em;
    background-color: #404040;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
}

#container button:hover {
    background-color: #737373;
    color: #0A0A0A;
    cursor: pointer;
}