*
{
    margin: 0;
    padding: 0;
}

#container
{
    width: 70em;
    height: 22em;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 2px solid black;
}
#container p{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 5em;
   
}
#container button{
    width: 10em;
    height: 3em;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
}